body {
    font-family: 'Raleway', sans-serif;
    background-color: darkslategray;
}

.metronome-container {
    background-color: lightslategray;
    display: block;
    padding: 12px;
    width: 75%;
    margin: 0 auto;
    min-width: 444px;
    align-content: center;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.visual-block {
    background-color: black;
    border-color: darkgreen;
    border-style: solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.play-pause-container {
    display: grid;
    justify-items: center;
    border-color: darkgreen;
    border-style: solid;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: -3px;
}

.play-pause-buttons {
    color: black;
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    border-radius: 24px;
    font-weight: 700;
    padding: .3rem;
    margin: .3rem;
}

.play-pause-buttons:hover {
    background-color: bisque;
    cursor: pointer;
}

.controls {
    background-color: lightslategray;
    display: block;
    padding: 12px;
    width: 75%;
    margin: 0 auto;
    min-width: 444px;
    align-content: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 8px;
}

.slider {
    width: 90%;
    justify-content: center;
    height: 10px;
}