body {
    font-family: 'Raleway', sans-serif;
    background-color: darkslategray;
}

.metronome-container {
    background-color: lightslategray;
    display: block;
    padding: 12px;
    width: 75%;
    margin: 0 auto;
    min-width: 444px;
    align-content: center;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.visual-container {
    z-index: 1;
    padding-bottom: 10px;
    background-color: rgb(92, 136, 121);
}

.visual-block {
    position: relative;
    border-color: darkgreen;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    width: 420px;
    z-index: 500;
}

.visual-tick {
    position: relative;
    z-index: 1;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	border-bottom: 100px solid white;
    top: 5px;
    left: -24px;
    transition: transform 1000ms linear;
}

.visual-block:hover .visual-tick {
    transform: translateX(420px);
}

.play-pause-container {
    z-index: 5;
    display: grid;
    justify-items: center;
    border-color: darkgreen;
    border-style: solid;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: -13px;
}

.play-pause-buttons {
    color: black;
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    border-radius: 24px;
    font-weight: 700;
    padding: .3rem;
    margin: .3rem;
}

.play-pause-buttons:hover {
    background-color: bisque;
    cursor: pointer;
}

.controls {
    background-color: lightslategray;
    display: block;
    padding: 12px;
    width: 75%;
    margin: 0 auto;
    min-width: 444px;
    align-content: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 8px;
}

.slider {
    width: 100%;
    justify-content: center;
    height: 10px;
}