body {
    font-family: 'Raleway', sans-serif;
    background-color: darkslategray;
}

.metronome-container {
    background-color: lightslategray;
    display: block;
    padding: 12px;
    width: 75%;
    margin: 0 auto;
    min-width: 444px;
    align-content: center;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.visual-container {
    z-index: 1;
    /* padding-bottom: 10px; */
    background-color: rgb(92, 136, 121);
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
}

.visual-block {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 420px;
    z-index: 500;
}

.visual-block-border {
    position: absolute;
    border-color: darkgreen;
    border-style: solid;
    border-radius: 5px;
    width: 420px;
    height: 130px;
    left: -5px;
    z-index: 2;
}

.visual-block-outside {
    background-color: aliceblue;
    position: absolute;
    flex-wrap: wrap;
    width: 100px;
}

.visual-tick {
    position: relative;
    z-index: 1;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 96px solid white;
    top: 5px;
    left: -20px;
    transition: transform 1000ms linear;
}

.canvas {
    /* write stuff */
}

.visual-block:hover .visual-tick {
    transform: translateX(420px);
}

.play-pause-container {
    z-index: 5;
    display: grid;
    justify-items: center;
    border-color: darkgreen;
    border-style: solid;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3px;
}

.play-pause-buttons {
    color: black;
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    border-radius: 24px;
    font-weight: 700;
    padding: .3rem;
    margin: .3rem;
}

.play-pause-buttons:hover {
    background-color: bisque;
    cursor: pointer;
}

.control-container {
    background-color: lightslategray;
    display: block;
    padding: 12px;
    width: 75%;
    margin: 0 auto;
    min-width: 444px;
    align-content: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 8px;
}

.slider {
    width: 100%;
    justify-content: center;
    height: 10px;
}

.control-divider {
    border: 1px solid darkgreen;
    margin: 5px 0px 5px 0px;
}